<div class="mx-auto info-wrap">
  <div class="clearfix">
    <div id="information">Information —</div>
    <div class="info-text">
      <%= parse_markdown @nav.about %>
    </div>
    <div id="services">Services —</div>
    <div class="services-text">
      <%= parse_markdown @nav.services %>
    </div>
    <div id="clients">Clients —</div>
    <div class="clients-text">
      <%= parse_markdown @nav.clients %>
    </div>    
    <div id="contact">General Enquiries —</div>
    <div class="contact-text">
      <%= parse_markdown @nav.contact %> 
    </div>
    <div id="social-media">Social Media —</div>
    <div class="social-media-text">
      <%= parse_markdown @nav.socialMedia %> 
    </div>
    <div id="credits">Credits —</div>
    <div class="credits-text">
      <%= parse_markdown @nav.credits %> 
    </div>    
  </div>
</div>