<div class="flex wrap">
  <div class="projects col-6">Projects</div>
  <div class="info-2 col-6 right">
    <a href="#information">Information</a>
  </div>
</div>

<ul class="client-list list-reset">
  <% @pages.each do | page | %>
    <li class="tc">
      <%= link_to page_path(page.slug) do %>
        <%= image_tag page.projectGallery.first.image_url(fl: 'progressive'), class: 'object-fit-cover img-responsive mobile' %>
        <span class="mobile-wrap">
          <span class="title"><%= page.title %><% unless page == @pages.last %><span class="comma">,</span>
          <% if page.projTitle %>
            <span class="slash">/ <%=page.projTitle%></span> <%end%>
          </span> <% end %>
            <% if page.projTitle %>
              <span class="projectTitle"><%= page.projTitle %></span>
            <% end %>
            <% if page.role %>
              <span class="projectRole"><%= parse_markdown page.role %></span>
            <% end %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render 'about' %>
