<div class="max-width-12">
  <div class="clearfix">
    <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
      <div class="header">
        <div id="logo">satomi</div>
        <div class="contact">about + contact</div>
      </div>
    </div>
  </div>
</div>

<% @pages.each do | page | %>
  <div class="project">
    <div class="max-width-12">
      <div class="clearfix">
        <div class="left_wrap">
           <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
             <div class="role"><%= @pages.role %> <hr class="dis-border"></div>
             <div class="number-3 inline-block align-middle"><%= "%02d" % @pages.projectNumber %></div>
             <div class="featured_image inline-block align-middle">
              <div class="dis-box">
                <span class="dis-overlay">
                  <% @pages.featuredImage.first.tap do |asset| %>
                    <%= image_tag asset.file.url %>
                  <% end %>
                </span>
              </div>
             </div>
           </div>              
        </div>
        <div class="right_wrap">
           <div class="sm-col sm-col-6 md-col-7 lg-col-7 px6">
            <div class="right_container">
             <div class="category inline-block align-middle"><%= @pages.projectType %></div>
             <div class="client inline-block align-middle"><%= @pages.title %></div>
             <div class="title inline-block align-middle"><%= @pages.caption %></div>
            </div>
           </div>
        </div>   
      </div>
    </div>
  </div>  
<% end %>

<%= render 'about' %>

<!-- <div class="project">
  <div class="max-width-12">
    <div class="clearfix">
      <div class="left_wrap">
         <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
           <div class="role">Art Direction <hr class="dis-border"></div>
           <div class="number-3 inline-block align-middle">01</div>
           <div class="featured_image inline-block align-middle">
            <div class="dis-box">
              <span class="dis-overlay"></span>
            </div>
           </div>
         </div>              
      </div>
      <div class="right_wrap">
         <div class="sm-col sm-col-6 md-col-7 lg-col-7 px6">
          <div class="right_container">
           <div class="category inline-block align-middle">Fashion Editorial</div>
           <div class="client inline-block align-middle">DIS Magazine</div>
           <div class="title inline-block align-middle">Vanessa Displaced</div>
          </div>
         </div>
      </div>   
    </div>
  </div>
</div>      

<div class="project">
  <div class="max-width-12">
    <div class="clearfix">
      <div class="left_wrap">
         <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
           <div class="role">Art Direction + Design<hr class="metal-border"></div>
           <div class="number-2 inline-block align-middle">02</div>
           <div class="featured_image inline-block align-middle">
            <div class="metal-box">
              <span class="metal-overlay"></span>
            </div>
          </div>
         </div>              
      </div>
      <div class="right_wrap">
         <div class="sm-col sm-col-6 md-col-7 lg-col-7 px6">
          <div class="right_container">
           <div class="category inline-block align-middle">Poster Series</div>
           <div class="client inline-block align-middle">Years of Metal</div>
           <div class="title inline-block align-middle">The Years of Metal Are Finally Upon Us</div>
          </div>
         </div>
      </div>   
    </div>
  </div>
</div>  

<div class="project">
  <div class="max-width-12">
    <div class="clearfix">
      <div class="left_wrap">
         <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
           <div class="role">Art Direction <hr class="dis-border"></div>
           <div class="number-3 inline-block align-middle">03</div>
           <div class="featured_image inline-block align-middle">
            <div class="dis-box">
              <span class="dis-overlay"></span>
            </div>
           </div>
         </div>              
      </div>
      <div class="right_wrap">
         <div class="sm-col sm-col-6 md-col-7 lg-col-7 px6">
          <div class="right_container">
           <div class="category inline-block align-middle">Fashion Editorial</div>
           <div class="client inline-block align-middle">DIS Magazine</div>
           <div class="title inline-block align-middle">Vanessa Displaced</div>
          </div>
         </div>
      </div>   
    </div>
  </div>
</div>          

<div class="project">
  <div class="max-width-12">
    <div class="clearfix">
      <div class="left_wrap">
         <div class="sm-col sm-col-6 md-col-5 lg-col-5 px6">
           <div class="role">Art Direction + Design<hr class="metal-border"></div>
           <div class="number-2 inline-block align-middle">04</div>
           <div class="featured_image inline-block align-middle">
            <div class="metal-box">
              <span class="metal-overlay"></span>
            </div>
          </div>
         </div>              
      </div>
      <div class="right_wrap">
         <div class="sm-col sm-col-6 md-col-7 lg-col-7 px6">
          <div class="right_container">
           <div class="category inline-block align-middle">Poster Series</div>
           <div class="client inline-block align-middle">Years of Metal</div>
           <div class="title inline-block align-middle">The Years of Metal Are Finally Upon Us</div>
          </div>
         </div>
      </div>   
    </div>
  </div>
</div>  
 -->