      <div class="clearfix header">
      <div class="sm-col sm-col-9">
        <div id="logo">satomi</div>
      </div>
      <ul class="nav list-reset sm-col sm-col-3">
        <li id="button">— Index</li>
        <li id="images">— Images</li>
        <li>— Information</li>
      </ul>        
    </div>
   
  <div class="project-header">Projects —</div>

<% @pages.each do | page | %>
  <div class="index max-width-12 mx-auto">
    <div class="clearfix">
      <ul class="client-list list-reset">
        <li></li>       
      </ul>
    </div>
  </div>
<% end %>


<% @pages.each do | page | %>
<div class="lg-col-12 mx-auto">
  <div class="grid">
    <div class="grid-item">
      <div class="project-num mb2 mt2"><%= "%02d" % page.projectNumber %></div>
      <img class="fit thumb mb2"
        <% page.featuredImage.first.tap do |asset| %>
        <%= image_tag asset.file.url %>
        <% end %>/>
      <div class="client-title center"><%= page.title %></div>
      <div class="project-title center"><%= page.caption %></div>
      <div class="project-role center pb2">—<%= page.role %></div>
    </div>
  </div>
</div>
<% end %>


<%= render 'about' %>


    <!-- <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/ls.jpg"/>
    </div>    
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/hydra.jpg"/>
    </div>
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/ls.jpg"/>
    </div>
    <div class="grid-item">
      <img class="fit thumb" src="assets/metal.jpg"/>
    </div>
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/trust.jpg"/>
    </div>
    <div class="grid-item">
      <img class="fit thumb" src="assets/dis.jpg"/>
    </div> 
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/hydra.jpg"/>
    </div>
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/trust.jpg"/>
    </div>
    <div class="grid-item">
      <img class="fit thumb" src="assets/dis.jpg"/>
    </div>  
    <div class="grid-item grid-item--width2">
      <img class="fit thumb" src="assets/hydra.jpg"/>
    </div>              
  </div>
</div> -->


<script>
  $('.grid').packery({
    itemSelector: '.grid-item',
    rowHeight: 10,
    gutter: 95,
    transitionDuration: 0,
    percentPosition: true,
  });

$(document).ready(function(){
    $("#button").click(function(){
        $(".index").toggle();
        $(".grid").hide();
        $(".index").show();
    });
});

$(document).ready(function(){
    $("#images").click(function(){
        $(".index").toggle();
        $(".index").hide();
        $(".grid").show();
    });
});
</script>

<!--   <div class="clearfix">
    <div class="lg-col-12 flex">
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/ls.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>                        
    </div>
    <div class="lg-col-12 flex">
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>
      <div class="col-2 p3">
        <img class="fit thumb" src="assets/dis.jpg"/>
      </div>                        
    </div>    
  </div> -->
     

</body>

</html>